aiofiles==0.8.0
alembic==1.7.5
anyio==3.4.0
asgi-csrf==0.9
asgiref==3.4.1
attrs==21.4.0
banal==1.0.6
black==21.12b0
certifi==2021.10.8
charset-normalizer==2.0.9
click==8.0.3
click-default-group==1.2.2
csv-diff==1.1
dataset==1.5.2
datasette==0.59.4
datasette-publish-vercel==0.12
dictdiffer==0.9.0
et-xmlfile==1.1.0
greenlet==1.1.2
h11==0.12.0
httpcore==0.14.3
httpx==0.21.1
hupper==1.10.3
idna==3.3
itsdangerous==2.0.1
janus==0.7.0
Jinja2==3.0.3
jsonschema==4.3.3
lxml==4.6.4
Mako==1.1.6
MarkupSafe==2.0.1
mergedeep==1.3.4
mypy-extensions==0.4.3
numpy==1.21.4
openpyxl==3.0.9
packaging==21.3
pandas==1.3.5
pathspec==0.9.0
Pint==0.18
platformdirs==2.4.0
pluggy==1.0.0
pyparsing==3.0.6
pyrsistent==0.18.0
python-baseconv==1.2.2
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2021.3
PyYAML==6.0
requests==2.26.0
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.28
tomli==1.2.2
typing_extensions==4.0.1
urllib3==1.26.7
uvicorn==0.16.0
